<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>DJPFLH48H5</string>
	<key>uploadBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: Derrick Showers</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.derrickshowers.busyless</key>
		<string>84f19b6d-8947-4cf8-af31-cdd8ce9d3e45</string>
		<key>com.derrickshowers.busyless.BusylessIntents</key>
		<string>b3d0b2a2-171c-4334-a01a-37fc72b34c72</string>
	</dict>
</dict>
</plist>
